html {
    background: #22272a url('/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.info-box {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px black;
    margin: 30px 30px 0 0;
    padding: 0 20px 0 20px;
    float: right;
    width: 380px;
    color: #eaeaea;
    display: none;
}

h3 {
    font-weight: normal;
    font-size: 25px;
    font-family: 'Fredericka the Great', cursive;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #f4c573;
}

p {
    font-weight: normal;
    margin-top: -5px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

a {
    margin-left: 1px;
    color: #eaeaea;
    font-size: 12px;
    font-family: monospace, sans-serif;
}

a:hover {
    color: #f4c573;
}


