html {
    background: #22272a url('/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.info-box {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px black;
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 0 20px 0 20px;
    float: right;
    width: 380px;
    color: #eaeaea;
    display: none;
    z-index: 1;
}

div.banners
{
    position: fixed;
    bottom: 5%;
    width: 100%;
    text-align: center;
    display: none;
}

@media screen and (max-width: 1180px) {
    div.banners {
        display: none !important;
    }
}

div.banner-box {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px black;
    color: #eaeaea;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    display: inline-block;

    -webkit-transition: background-color 300ms, box-shadow 300ms;
    transition: background-color 300ms, box-shadow 300ms;
}

div.banner-box:hover {
    background-color: rgba(10, 10, 10, 0.65);
    box-shadow: 0 0 20px black;
}

h3 {
    font-weight: normal;
    font-size: 25px;
    font-family: 'Fredericka the Great', cursive;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #f4c573;
}

p {
    font-weight: normal;
    margin-top: -5px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

a.box-link {
    margin-left: 1px;
    color: #eaeaea;
    font-size: 12px;
    font-family: monospace, sans-serif;
}

a.banner-link {

}

a:hover {
    color: #f4c573;
}


