<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="typemoon, type-moon, Fate/stay night, Судьба/Ночь схватки, anime, vn, visual novel, вн, визуальная новела, аниме, Kara no Kyōkai, The Garden of Sinners, Граница Пустоты, Tsukihime" />
    <title>TM/undefined project</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>

    <div class="info-box">
        <h3>TM/undefined project</h3>
        <p>Возможно, однажды здесь появится нечто, относящееся к творчеству <a class="box-link" href="https://ru.wikipedia.org/wiki/Type-Moon" target="_blank">TYPE-MOON</a>. А пока, предлагаем ознакомиться с другими русскоязычными ресурсами со схожей тематикой.</p>
        <p>Есть идеи по использованию домена или вопросы? Пишите на <a class="box-link" href="mailto:elringus@typemoon.ru" target="_blank">elringus@typemoon.ru</a></p>
    </div>

    <div class="banners">
        <a href="https://typemoonshrine.wordpress.com">
            <div class="banner-box">
                <h3>CRIMSON CODEX</h3>
                <p>Русскоязычный фан-сайт TYPE-MOON.</p>
                <img src="/images/banner-cc.png">
            </div>
        </a>
        <a href="https://vk.com/unlimited.typemoon.works">
            <div class="banner-box">
                <h3>UNLIMITED TYPE-MOON WORKS</h3>
                <p>Русскоязычное сообщество поклонников творчества TYPE-MOON.</p>
                <img src="/images/banner-utmw.png">
            </div>
        </a>
    </div>

<script>
    $(".info-box").delay(500).fadeIn(1000);
    $(".banners").delay(1500).fadeIn(1000);

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55249824-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>

</body>

</html>